.section {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.title {
  font-family: rubik,arial,sans-serif;
  font-size: 200%;
  color: #4481c3;
  margin-top: 20%;
}

.rebootBtn {
  display: inline-block;
	box-sizing: border-box;
	padding: 0 15px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #6597cd;
	border-radius: 5px;
	height: 38px;
	line-height: 38px;
  color: #fff;
	background-color: #4481c3;
	cursor: pointer;
}

.btnText {
  font-family: rubik,arial,sans-serif;
  font-size: 110%;
	font-weight: 600;
}
